@import url('https://fonts.googleapis.com/css?family=Dosis 100,200,300,400,500,600,700');



/**
#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}



.navbar-default {
  background-color: #808080;
  padding: 0;



}

.nav-item {
  color: #ffffff;
  margin: 10px;
}

.navbar-default li a {
  color: #000;
  padding-top: 20px;
  display: block;
  font-size: 15px;

}

.bg-color-home {
  background-color: #D79922;
}

.bg-color-sketch {
  background-color: #EFE2BA;
}

.bg-color-finished {
  background-color: #F13C20;
}

.bg-color-videos {
  background-color: #4056A1;
}

.bg-color-contact {
  background-color: #008000;
}
**/
body {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.home {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 300px;
  left: 520px;

  z-index: 2;
  border-radius: 50%;
  -webkit-box-shadow: 0px 18px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 18px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 18px 5px 0px rgba(0, 0, 0, 0.5);
}

.text {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 510px;
  left: 535px;
  color: #ffffff;
  z-index: 2;

}

.text2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 545px;
  left: 545px;
  color: #ffffff;
  z-index: 2;

}

.social-btn {
  position: absolute;

  display: inline-block;
  width: 50px;
  height: 50px;
  top: 620px;
  left: 590px;
  z-index: 2;

}

/**
.container {
  width: 500px;
  height: 500px;
  padding-top: 150px;

}

**/

.sketch-img ul li {
  position: absolute;
  width: auto;
  height: auto;
  top: 300px;
  left: 100px;
  display: inline-block;
  z-index: 2;
}

.finished-image ul li {
  position: absolute;
  width: auto;
  height: auto;
  top: 300px;
  left: 100px;
  display: inline-block;
  z-index: 2;

}

.homepage-img {

  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 0px;
}

.box {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  top: 300px;
  left: 5px;
 
}

.box2 {
  text-align: left;
  display: inline-block;
  position: absolute;
  width: 1200px;
  height: 1200px;
  top: 300px;
  left: 50px;
 
}

.box3 {
  text-align: right;
  display: inline-block;
  position: absolute;
  width: 1200px;
  height: 1200px;
  top: 300px;
  left: 50px;

}

.box4,
iframe {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 75%;
  height: 75%;
  top: 150px;
  left: 100px;
  z-index: 2;
 
}

.footer {
  background-color: #4a4a4f;
  padding: 25px;
  margin-top: 0px;
}

.footer,
p {
  color: #ffffff;
}

@media (min-width: 768px){
    .column{
        float: left;
    }
    .column-60{
        width: 60%;
    }
    .column-40{
        width: 40%;
    }
}
